*.pyc
*.json
*/test_func/test_poly_mod
*/test_func/test_poly_Rq_mul
*/test/test_polymul
*/test/ram
*/test/test_ntru
*/test/test_pack
*/test/decap
*/test/encap
*/test/keypair
*/test/speed
*/test/speed2
*/test/test_gp_compat
*/test/test_owcpa
*/PQCgenKAT_kem
*.rsp
*.req
*/*/*/PQCgenKAT_kem
*callgrind.*
*/papi_hl_output*/*
