*.pyc
*.json
neon-hps2048509/test_func/test_poly_mod
neon-hps2048509/test_func/test_poly_Rq_mul
*/test/test_polymul
*/test/ram
*/test/test_ntru
*/test/test_pack
*.rsp
*.req
*/*/*/PQCgenKAT_kem
*callgrind.*
*/test/speed
*/PQCgenKAT_kem
neon-hps2048509/Untitled-1.log

neon-hps2048677/test/test_polymul
*/papi_hl_output*/*
